### Data Mounting

In [20]:
# 1 Windows
# 2 Linux
# 3 Google Collab
ENV = 1

In [21]:
import pandas as pd
import numpy as np

In [22]:
# google drive
DRIVE_PATH = '/content/drive/MyDrive/STINTSY/Datasets/'

FILENAME = 'LFS PUF April 2016.CSV'
LOCAL_PATH = 'data/'

In [23]:
import Utils

labor_df = Utils.load_data(FILENAME, LOCAL_PATH, ENV)

### Data Pre-Processing and Cleaning

To be able to clean the data, first we must identify for any inconsistencies, errors, or missing values that need to be addressed.

 The process involves using data observability tools to look for various types of problems, including:

- Missing or empty data points
- Incorrect values
- Mismatched data types
- Duplicate entries
- Inconsistent formatting

#### Information about the data

In [24]:
labor_df.head(5)

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,...,PUFC33_WEEKS,PUFC34_WYNOT,PUFC35_LTLOOKW,PUFC36_AVAIL,PUFC37_WILLING,PUFC38_PREVJOB,PUFC40_POCC,PUFC41_WQTR,PUFC43_QKB,PUFNEWEMPSTAT
0,1,28,2800,1,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
1,1,28,2800,1,2,388.8280,4,2016,217,1,...,,,,,,,,1,01,1
2,1,28,2800,1,2,406.1194,4,2016,217,1,...,,,,,,,,1,01,1
3,1,28,2800,2,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
4,1,28,2800,2,2,384.3556,4,2016,217,1,...,,,,,,,,1,96,1

In [25]:
labor_df.tail(5)

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,...,PUFC33_WEEKS,PUFC34_WYNOT,PUFC35_LTLOOKW,PUFC36_AVAIL,PUFC37_WILLING,PUFC38_PREVJOB,PUFC40_POCC,PUFC41_WQTR,PUFC43_QKB,PUFNEWEMPSTAT
180857,17,59,5900,40880,2,239.4341,4,2016,258,1,...,,,,,,,,1,50,1
180858,17,59,5900,40880,2,189.8885,4,2016,258,1,...,,8,,,,2,,,,3
180859,17,59,5900,40880,2,207.7395,4,2016,258,1,...,,,,,,,,,,
180860,17,59,5900,40880,2,207.7395,4,2016,258,1,...,,,,,,,,,,
180861,17,59,5900,40880,2,277.5219,4,2016,258,1,...,,,,,,,,1,01,1

In [26]:
labor_df.describe()

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,PUFHHSIZE,PUFC01_LNO,PUFC03_REL,PUFC04_SEX,PUFC05_AGE
count,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.0,180862.0,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000
mean,9.398801,45.825309,4585.055324,20528.231873,1.574947,568.527169,4.0,2016.0,386.270272,2.490379,5.504783,3.252391,2.931489,1.493874,27.889772
std,4.667034,24.939767,2494.028733,11827.708144,0.494352,508.519331,0.0,0.0,440.160045,1.118970,2.370169,2.077130,1.832299,0.499964,20.052132
min,1.000000,1.000000,100.000000,1.000000,1.000000,34.998400,4.0,2016.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,5.000000,24.000000,2402.000000,10256.250000,1.000000,245.065975,4.0,2016.0,107.000000,1.000000,4.000000,2.000000,2.000000,1.000000,11.000000
50%,10.000000,46.000000,4600.000000,20406.000000,2.000000,392.993500,4.0,2016.0,243.000000,2.000000,5.000000,3.000000,3.000000,1.000000,24.000000
75%,13.000000,71.000000,7100.000000,30962.000000,2.000000,679.526775,4.0,2016.0,482.000000,3.000000,7.000000,4.000000,3.000000,2.000000,42.000000
max,17.000000,98.000000,9804.000000,40880.000000,2.000000,4509.316000,4.0,2016.0,3053.000000,4.000000,23.000000,23.000000,11.000000,2.000000,99.000000

In [27]:
labor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180862 entries, 0 to 180861
Data columns (total 50 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PUFREG           180862 non-null  int64
 1   PUFPRV           180862 non-null  int64
 2   PUFPRRCD         180862 non-null  int64
 3   PUFHHNUM         180862 non-null  int64
 4   PUFURB2K10       180862 non-null  int64
 5   PUFPWGTFIN       180862 non-null  float64
 6   PUFSVYMO         180862 non-null  int64
 7   PUFSVYYR         180862 non-null  int64
 8   PUFPSU           180862 non-null  int64
 9   PUFRPL           180862 non-null  int64
 10  PUFHHSIZE        180862 non-null  int64
 11  PUFC01_LNO       180862 non-null  int64
 12  PUFC03_REL       180862 non-null  int64
 13  PUFC04_SEX       180862 non-null  int64
 14  PUFC05_AGE       180862 non-null  int64
 15  PUFC06_MSTAT     180862 non-null  object
 16  PUFC07_GRADE     180862 non-null  object
 17  PUFC08_CURSCH    180862 non-null  object
 18  PUFC09_GRADTECH  180862 non-null  object
 19  PUFC10_CONWR     180862 non-null  object
 20  PUFC11_WORK      180862 non-null  object
 21  PUFC12_JOB       180862 non-null  object
 22  PUFC14_PROCC     180862 non-null  object
 23  PUFC16_PKB       180862 non-null  object
 24  PUFC17_NATEM     180862 non-null  object
 25  PUFC18_PNWHRS    180862 non-null  object
 26  PUFC19_PHOURS    180862 non-null  object
 27  PUFC20_PWMORE    180862 non-null  object
 28  PUFC21_PLADDW    180862 non-null  object
 29  PUFC22_PFWRK     180862 non-null  object
 30  PUFC23_PCLASS    180862 non-null  object
 31  PUFC24_PBASIS    180862 non-null  object
 32  PUFC25_PBASIC    180862 non-null  object
 33  PUFC26_OJOB      180862 non-null  object
 34  PUFC27_NJOBS     180862 non-null  object
 35  PUFC28_THOURS    180862 non-null  object
 36  PUFC29_WWM48H    180862 non-null  object
 37  PUFC30_LOOKW     180862 non-null  object
 38  PUFC31_FLWRK     180862 non-null  object
 39  PUFC32_JOBSM     180862 non-null  object
 40  PUFC33_WEEKS     180862 non-null  object
 41  PUFC34_WYNOT     180862 non-null  object
 42  PUFC35_LTLOOKW   180862 non-null  object
 43  PUFC36_AVAIL     180862 non-null  object
 44  PUFC37_WILLING   180862 non-null  object
 45  PUFC38_PREVJOB   180862 non-null  object
 46  PUFC40_POCC      180862 non-null  object
 47  PUFC41_WQTR      180862 non-null  object
 48  PUFC43_QKB       180862 non-null  object
 49  PUFNEWEMPSTAT    180862 non-null  object
dtypes: float64(1), int64(14), object(35)
memory usage: 69.0+ MB

Now that we are able to manually observe the dataset, we can now move on to querying for data inconsistencies

#### Inconsistencies Overview

Before we continue, let's first convert object to category type.

In [28]:
for col in labor_df.select_dtypes(include=['object']).columns:
    labor_df[col] = labor_df[col].astype('category')

In [29]:
labor_df.replace(" ", np.nan, inplace=True)

missing_data = labor_df.isnull().sum()
missing_percentage = (missing_data / len(labor_df)) * 100

missing_df = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_percentage})
missing_df = missing_df[missing_df['Missing Values'] > 0]

print(missing_df)

                 Missing Values  Percentage
PUFC06_MSTAT              18339   10.139775
PUFC08_CURSCH            107137   59.236877
PUFC09_GRADTECH           57782   31.948115
PUFC10_CONWR              57782   31.948115
PUFC11_WORK               21894   12.105362
PUFC12_JOB                93306   51.589610
PUFC17_NATEM             109507   60.547268
PUFC20_PWMORE            109507   60.547268
PUFC21_PLADDW            109507   60.547268
PUFC22_PFWRK             109507   60.547268
PUFC23_PCLASS            109507   60.547268
PUFC24_PBASIS            138947   76.824872
PUFC26_OJOB              109507   60.547268
PUFC27_NJOBS             174924   96.716834
PUFC29_WWM48H            163629   90.471741
PUFC30_LOOKW             132692   73.366434
PUFC31_FLWRK             178569   98.732183
PUFC32_JOBSM             178569   98.732183
PUFC34_WYNOT             134985   74.634252
PUFC35_LTLOOKW           179269   99.119218
PUFC36_AVAIL             174893   96.699694
PUFC37_WILLING           174893   96.699694
PUFC38_PREVJOB           132692   73.366434
PUFC41_WQTR               81627   45.132200
PUFNEWEMPSTAT             61337   33.913702

First, we look if there are any missing values in case we need to impute or remove. Here we can see that there is a lot of missing data from specific features. But how do we choose which to impute and which to remove. By looking at the percentages, and considering which features are of importance we can start removing data with missing values greater or equal to 40%. But for those with data missing less than 40%, we can opt to impute.

In [30]:
columns_to_drop = [
    'PUFC08_CURSCH', 'PUFC12_JOB', 'PUFC17_NATEM', 'PUFC20_PWMORE', 'PUFC21_PLADDW',
    'PUFC22_PFWRK', 'PUFC23_PCLASS', 'PUFC24_PBASIS', 'PUFC26_OJOB', 'PUFC27_NJOBS',
    'PUFC29_WWM48H', 'PUFC30_LOOKW', 'PUFC31_FLWRK', 'PUFC32_JOBSM', 'PUFC34_WYNOT',
    'PUFC35_LTLOOKW', 'PUFC36_AVAIL', 'PUFC37_WILLING', 'PUFC38_PREVJOB', 'PUFC41_WQTR'
]

labor_df.drop(columns=columns_to_drop, inplace=True)

In [31]:
categorical_cols_to_impute = ['PUFC06_MSTAT', 'PUFC09_GRADTECH', 'PUFC10_CONWR', 'PUFC11_WORK', 'PUFNEWEMPSTAT']

for col in categorical_cols_to_impute:
    labor_df.loc[:, col] = labor_df[col].fillna(labor_df[col].mode()[0])

In [32]:
print("Remaining Missing Values After Cleaning:")
print(labor_df.isnull().sum()[labor_df.isnull().sum() > 0])

Remaining Missing Values After Cleaning:
Series([], dtype: int64)

After dropping features and imputing for some, there are no more missing data. We can now proceed for checking if there are any duplicated data. For this dataset, there should be little concern over duplicated data unless there are records of the same person from the same household, which can be seen as such below.

In [33]:
duplicate_household_members = labor_df.duplicated(subset=['PUFHHNUM', 'PUFC01_LNO'], keep=False)

print("Number of duplicate individual records in the same household:", duplicate_household_members.sum())

Number of duplicate individual records in the same household: 0

Finally, now that we've dropped and imputed the missing data we can now deal with outliers.

In [34]:
print("Skewness: ")
numeric_labor_df = labor_df.select_dtypes(include=np.number)
print(numeric_labor_df.skew())

Skewness:
PUFREG       -0.126086
PUFPRV       -0.101638
PUFPRRCD     -0.102321
PUFHHNUM     -0.007218
PUFURB2K10   -0.303215
PUFPWGTFIN    2.069158
PUFSVYMO      0.000000
PUFSVYYR      0.000000
PUFPSU        2.373759
PUFRPL        0.011670
PUFHHSIZE     0.946650
PUFC01_LNO    1.214309
PUFC03_REL    1.604660
PUFC04_SEX    0.024507
PUFC05_AGE    0.650830
dtype: float64

In [35]:
log_transform_cols = ['PUFPWGTFIN', 'PUFPSU', 'PUFC03_REL']
for col in log_transform_cols:
    labor_df[col] = np.log1p(labor_df[col])

print(labor_df[log_transform_cols].skew())

PUFPWGTFIN    0.254758
PUFPSU       -0.665335
PUFC03_REL    0.354689
dtype: float64

---

EDA

In [37]:
len(columns_to_drop)

20

In [38]:
labor_df.shape

(180862, 30)

In [36]:
labor_df.dtypes

PUFREG                int64
PUFPRV                int64
PUFPRRCD              int64
PUFHHNUM              int64
PUFURB2K10            int64
PUFPWGTFIN          float64
PUFSVYMO              int64
PUFSVYYR              int64
PUFPSU              float64
PUFRPL                int64
PUFHHSIZE             int64
PUFC01_LNO            int64
PUFC03_REL          float64
PUFC04_SEX            int64
PUFC05_AGE            int64
PUFC06_MSTAT       category
PUFC07_GRADE       category
PUFC09_GRADTECH    category
PUFC10_CONWR       category
PUFC11_WORK        category
PUFC14_PROCC       category
PUFC16_PKB         category
PUFC18_PNWHRS      category
PUFC19_PHOURS      category
PUFC25_PBASIC      category
PUFC28_THOURS      category
PUFC33_WEEKS       category
PUFC40_POCC        category
PUFC43_QKB         category
PUFNEWEMPSTAT      category
dtype: object